.heading {
    font-family: Merriweather-Regular;
    font-weight: 700;
    margin-top: 35px;
}

.body {
    font-family: Arial;
    font-weight: 100;
    font-size: medium;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}