.signupContainer {
    font-family: Arial;
}

.signupContainer::after {
  content: "";
  background: url("./2.jpg");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.45;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: "100%";
  width: "100%";
}

.heading {
    font-family: Merriweather-Regular;
    font-weight: 700;
    margin-top: 35px;
}

.body {
    margin: 10;
}